USE [master]
GO
/****** Object:  Database [DW]    Script Date: 6/02/2026 1:36:09 a. m. ******/
CREATE DATABASE [DW]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DW', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\DW.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DW_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\DW_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DW].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DW]
GO
/****** Object:  User [juan]    Script Date: 6/02/2026 1:36:09 a. m. ******/
CREATE USER [juan] FOR LOGIN [juan] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [dwprue]    Script Date: 6/02/2026 1:36:09 a. m. ******/
CREATE USER [dwprue] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [juan]
GO
ALTER ROLE [db_owner] ADD MEMBER [dwprue]
GO
USE [DW]
GO
/****** Object:  Sequence [dbo].[Numerofactura]    Script Date: 6/02/2026 1:36:09 a. m. ******/
CREATE SEQUENCE [dbo].[Numerofactura] 
 AS [int]
 START WITH 1
 INCREMENT BY 1
 MINVALUE -2147483648
 MAXVALUE 2147483647
 CACHE 
GO
/****** Object:  Table [dbo].[CABEZA_FACTURA]    Script Date: 6/02/2026 1:36:09 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CABEZA_FACTURA](
	[NUMERO] [int] NOT NULL,
	[FECHA] [datetime] NULL,
	[CLIENTE_ID] [int] NULL,
	[TOTAL] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[NUMERO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CLIENTES]    Script Date: 6/02/2026 1:36:09 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLIENTES](
	[CLIENTE] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE_CLIENTE] [varchar](100) NULL,
	[DIRECCION] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[CLIENTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DETALLE_FACTURA]    Script Date: 6/02/2026 1:36:09 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DETALLE_FACTURA](
	[DETALLE_FACTURA_ID] [int] IDENTITY(1,1) NOT NULL,
	[NUMERO_FACTURA] [int] NULL,
	[PRODUCTO_ID] [int] NULL,
	[CANTIDAD] [int] NULL,
	[VALOR] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[DETALLE_FACTURA_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FACTURA_GENERADA]    Script Date: 6/02/2026 1:36:09 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FACTURA_GENERADA](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE_CLIENTE] [varchar](100) NULL,
	[DIRECCION_CLIENTE] [varchar](255) NULL,
	[NOMBRE_PRODUCTO] [varchar](100) NULL,
	[VALOR_PRODUCTO] [decimal](18, 2) NULL,
	[NUMERO_FACTURA] [int] NULL,
	[TOTAL_FACTURA] [decimal](18, 2) NULL,
	[CANTIDAD_DETALLE] [int] NULL,
	[VALOR_DETALLE] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUCTOS]    Script Date: 6/02/2026 1:36:09 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCTOS](
	[PRODUCTO] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE_PRODUCTO] [varchar](100) NULL,
	[VALOR] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[PRODUCTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CABEZA_FACTURA]  WITH CHECK ADD  CONSTRAINT [FK_FACTURA_CLIENTE] FOREIGN KEY([CLIENTE_ID])
REFERENCES [dbo].[CLIENTES] ([CLIENTE])
GO
ALTER TABLE [dbo].[CABEZA_FACTURA] CHECK CONSTRAINT [FK_FACTURA_CLIENTE]
GO
ALTER TABLE [dbo].[DETALLE_FACTURA]  WITH CHECK ADD  CONSTRAINT [FK_DETALLE_CABEZA] FOREIGN KEY([NUMERO_FACTURA])
REFERENCES [dbo].[CABEZA_FACTURA] ([NUMERO])
GO
ALTER TABLE [dbo].[DETALLE_FACTURA] CHECK CONSTRAINT [FK_DETALLE_CABEZA]
GO
ALTER TABLE [dbo].[DETALLE_FACTURA]  WITH CHECK ADD  CONSTRAINT [FK_DETALLE_PRODUCTO] FOREIGN KEY([PRODUCTO_ID])
REFERENCES [dbo].[PRODUCTOS] ([PRODUCTO])
GO
ALTER TABLE [dbo].[DETALLE_FACTURA] CHECK CONSTRAINT [FK_DETALLE_PRODUCTO]
GO
/****** Object:  StoredProcedure [dbo].[sp_eliminar_facs]    Script Date: 6/02/2026 1:36:09 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		JUANCASALLAS
-- Create date: 06/02/206
-- Description:	ELIMINAR LAS FACTURAS
-- =============================================
CREATE PROCEDURE [dbo].[sp_eliminar_facs] 
	-- Add the parameters for the stored procedure here
	@p1 int	
AS
BEGIN
	DELETE FROM DETALLE_FACTURA WHERE NUMERO_FACTURA =@p1; 
	DELETE FROM CABEZA_FACTURA WHERE NUMERO =@p1; 
END
GO
USE [master]
GO
